body {
    background-color: #B5E0EB;
    background-image: url("https://i.ibb.co/mvMF9Nq/game-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainPage {
    width: 500px;
    margin-top: 220px;
    margin-left: 700px;

}

h1 {
    text-align: center;
    font-size: 70px;
}

h2 {
    text-align: center;
    width:600px;
    font-size: 30px;
}

.easyPage {
    display: none;
}

#timer {
    margin-left: 780px;
    font-size: 70px;
}

#restart {
    margin-left: 1350px;
    margin-top:40px;
    font-size: 30px;
}

#num1, #num2, #opEasy {
    font-size: 30px;
    
}