body {
    position: relative;
    background-color: #FFFFFF;
    background-image: url("https://i.ibb.co/JzLJrjN/Ros-Game-Background.png");
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#restart {
    display: none;
    background: black;
    color: lavender;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
}

.mainPage {
    position: absolute;
    top: 180px;
    left: 680px;
    text-align: center;
    width: 500px;
}

h1 {
    font-size: 70px;
}

h2 {
    width: 550px;
    font-size: 30px;
}

#easy, #int, #hard {
    background-color: rgb(41, 41, 41);
    border-color: black;
    padding: 10px;
    margin: 10px;
    width: 320px;
    font-size: 20px;
    border-radius: 10px;
    color: lavender;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

#easy:hover, #int:hover, #hard:hover, #restart:hover {
    background-color: rgb(175, 131, 237);
    cursor: pointer;
}

#cat {
    position: absolute;
    width: 80px;
    height: 55px;
    top: 215px;
    left: 380px;
}

#happyCat {
    display: none;
    position: absolute;
    width: 80px;
    height: 55px;
    top: 320px;
    left: 520px;
}

#timer {
    position: absolute;
    font-size: 60px;
    color: red;
    top: -200px;
    left: 180px;
}

.qnsPage {
    display: none;
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.qns {
    display: flex;
    position: absolute;
    gap: 50px;
    font-size: 80px;
    top: 350px;
    left: 750px;
}

input {
    position: relative;
    font-size: 80px;
    width: 180px;
}

#prompt {
    position: relative;
    width: 500px;
    font-size: 40px;
    top: 450px;
    left: 750px;
}